<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Corona Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="jumbotron text-center">
    <h3>Total Coronavirus cases reported all over the world</h3>
    <h2>
        <div class="value"
             th:text="${#numbers.formatDecimal(totalReportedCases, 0, 'COMMA', 0, 'POINT')}">
        </div>
    </h2>
</div>

</body>
</html>




<!--<table class="table">-->
<!--    <thead class="thead-dark">-->
<!--    <tr>-->
<!--        <th scope="col">Region</th>-->
<!--        <th scope="col">Total number of cases</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:if="${Tracker.empty}">-->
<!--        <td colspan="2"> No Data Available </td>-->
<!--    </tr>-->
<!--    <tr th:each="trk : ${Tracker}">-->
<!--        <td><span th:text="${trk.region}"></span></td>-->
<!--        <td><span th:text="${trk.totalCases}"></span></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
